
@{
    ViewBag.Title = "Modificar producto";
}

<h2>Modificar producto</h2>
<div>
    <form method="post" action="/Home/Modificar">
        <table class="table">
            <tr>
                <td>Codigo</td>
                <td><input class="text-left" type="text" name="Codigo" /></td>
            </tr>
            <tr>
                <td>Descripcion</td>
                <td><input type="text" name="Descripcion" /></td>
            </tr>
            <tr>
                <td>Tipo</td>
                <td><input type="text" name="Tipo" /></td>
            </tr>
            <tr>
                <td>Precio</td>
                <td><input type="text" name="Precio" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-success" type="submit" name="Grabar" value="Guardar cambios" /></td>
            </tr>
        </table>
    </form>
</div>
